.highlight {
  color: #fbf0ac !important;
  text-decoration: underline !important; }
  .highlight:hover {
    pointer-events: none; }

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html, body {
  box-sizing: border-box;
  font-size: 62.5%; }

.navbar__1 {
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("../images/pattern.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .navbar__1--social {
    width: 100%;
    height: 20rem;
    max-width: 30vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem; }
    .navbar__1--social .social-icon {
      padding: 1.5rem 1.5rem;
      color: #9D3E5B;
      width: 6rem; }
      .navbar__1--social .social-icon:last-child {
        padding-left: 0 0 0 2; }
      .navbar__1--social .social-icon:hover {
        background-color: #9D3E5B;
        color: #ffffff;
        border-radius: 50%; }
  .navbar__1--main {
    font-size: 2.2rem;
    width: 100%;
    max-width: 33vw;
    transform: translate(-2.5rem, -3rem);
    position: relative; }
    .navbar__1--main img {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 20rem;
      width: 20rem;
      transform: translate(-50%, -50%); }
  .navbar__1--stay {
    height: 20rem;
    text-align: center;
    cursor: pointer;
    width: 25%;
    max-width: 33vw;
    display: flex;
    justify-content: center;
    align-items: center; }
    .navbar__1--stay a {
      text-decoration: none;
      color: #9D3E5B; }
      .navbar__1--stay a:hover {
        border-radius: 50%;
        transform: scaleX(1.1);
        color: #ffffff;
        transition: all 0.5s ease-in; }
    .navbar__1--stay:hover a {
      text-decoration: none;
      color: #ffffff;
      position: relative; }
      .navbar__1--stay:hover a:hover {
        color: #ffffff; }
      .navbar__1--stay:hover a::before {
        content: "";
        position: absolute;
        width: 90%;
        height: 2px;
        bottom: 0;
        left: 6%;
        background-color: #ffffff;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.4s ease-in-out 0s; }
      .navbar__1--stay:hover a:hover::before {
        visibility: visible;
        transform: scaleX(1); }

.navbar__2 {
  padding: 1.5rem 0;
  font-size: 2.2rem;
  background-color: #9D3E5B; }
  .navbar__2 .navbar-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    color: white; }
    .navbar__2 .navbar-items .navbar-item a {
      text-decoration: none;
      color: #ffffff;
      position: relative; }
      .navbar__2 .navbar-items .navbar-item a:hover {
        color: #fbf0ac; }
      .navbar__2 .navbar-items .navbar-item a::before {
        content: "";
        position: absolute;
        width: 90%;
        height: 2px;
        bottom: 0;
        left: 6%;
        background-color: #fbf0ac;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.2s ease-in-out 0s; }
      .navbar__2 .navbar-items .navbar-item a:hover::before {
        visibility: visible;
        transform: scaleX(1); }

.footer {
  padding: 5rem 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), #9d3e5b);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 2.5rem;
  color: #ffffff; }
  .footer .navbar-items .navbar-item {
    line-height: 1.5;
    list-style: none; }
    .footer .navbar-items .navbar-item a {
      color: #9D3E5B;
      text-decoration: none; }
      .footer .navbar-items .navbar-item a:hover {
        transition: color 0.2s ease;
        color: #2f131b; }
  .footer .contact h3 {
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: normal;
    padding-bottom: 2rem;
    color: #fbf0ac; }
  .footer .contact p {
    letter-spacing: 4.5px;
    font-size: 2.5rem; }
  .footer .social h3 {
    font-size: 3rem;
    font-weight: normal;
    letter-spacing: 2px;
    padding-bottom: 2rem;
    color: #fbf0ac; }
  .footer .social a {
    color: #ffffff;
    padding: 0 15px; }
    .footer .social a:hover {
      color: #fbf0ac; }
  .footer .social a:first-child {
    padding: 0; }

.main .cards {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 100vh; }
  .main .cards__imgcontainer--1 {
    padding: 0.5rem;
    margin: 4rem;
    width: 34vw;
    position: absolute;
    left: 14.5vw;
    top: 7vh;
    height: 50rem;
    background-color: #9D3E5B;
    background-image: linear-gradient(326deg, rgba(19, 78, 94, 0.5) 0%, rgba(113, 178, 128, 0.7) 74%), url("../images/clubhouse.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease-in-out; }
    .main .cards__imgcontainer--1:hover {
      transform: translateY(-1%); }
    .main .cards__imgcontainer--1 .cards__textcontainer--1 {
      font-size: 4rem;
      color: #ffffff;
      text-align: center;
      position: absolute;
      width: 100%;
      top: 60%;
      left: 50%;
      transform: translate(-50%);
      line-height: 150%; }
      .main .cards__imgcontainer--1 .cards__textcontainer--1 .card-title {
        font-size: 5rem;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        word-spacing: 6px; }
        .main .cards__imgcontainer--1 .cards__textcontainer--1 .card-title a {
          text-decoration: none;
          color: #ffffff;
          position: relative; }
          .main .cards__imgcontainer--1 .cards__textcontainer--1 .card-title a:hover {
            color: #fbf0ac; }
          .main .cards__imgcontainer--1 .cards__textcontainer--1 .card-title a::before {
            content: "";
            position: absolute;
            width: 90%;
            height: 2px;
            bottom: 0;
            left: 6%;
            background-color: #fbf0ac;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.5s ease-in-out 0s; }
          .main .cards__imgcontainer--1 .cards__textcontainer--1 .card-title a:hover::before {
            visibility: visible;
            transform: scaleX(1); }
      .main .cards__imgcontainer--1 .cards__textcontainer--1:hover {
        transition: all 0.5s ease-in;
        color: #fbf0ac; }
  .main .cards__imgcontainer--2 {
    padding: 0.5rem;
    margin: 4rem;
    width: 34vw;
    height: 50rem;
    position: absolute;
    left: 49vw;
    top: 2vh;
    background-color: #9D3E5B;
    background-image: linear-gradient(326deg, rgba(36, 198, 220, 0.5) 0%, rgba(81, 74, 157, 0.7) 74%), url("../images/farmstay.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    .main .cards__imgcontainer--2:hover {
      transform: translateY(-1%); }
    .main .cards__imgcontainer--2 .cards__textcontainer--2 {
      font-size: 4rem;
      position: absolute;
      color: #ffffff;
      text-align: center;
      width: 100%;
      top: 29%;
      left: 52%;
      transform: translate(-50%);
      line-height: 150%; }
      .main .cards__imgcontainer--2 .cards__textcontainer--2 .card-title {
        font-size: 5rem;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        word-spacing: 6px; }
        .main .cards__imgcontainer--2 .cards__textcontainer--2 .card-title a {
          text-decoration: none;
          color: #ffffff;
          position: relative; }
          .main .cards__imgcontainer--2 .cards__textcontainer--2 .card-title a:hover {
            color: #fbf0ac; }
          .main .cards__imgcontainer--2 .cards__textcontainer--2 .card-title a::before {
            content: "";
            position: absolute;
            width: 90%;
            height: 2px;
            bottom: 0;
            left: 6%;
            background-color: #fbf0ac;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.5s ease-in-out 0s; }
          .main .cards__imgcontainer--2 .cards__textcontainer--2 .card-title a:hover::before {
            visibility: visible;
            transform: scaleX(1); }
      .main .cards__imgcontainer--2 .cards__textcontainer--2:hover {
        transition: all 0.5s ease-in;
        color: #fbf0ac; }

.activities__container--1 {
  width: 100%; }
  .activities__container--1 .img-container {
    position: relative; }
    .activities__container--1 .img-container img {
      position: absolute;
      width: 30vw;
      height: 40vh;
      top: 5vh;
      left: 16vw;
      transition: all 0.3s ease-in-out; }
      .activities__container--1 .img-container img:hover {
        z-index: 10;
        outline: solid 8px #fbf0ac;
        outline-offset: 10px;
        transform: translateY(-4%); }
  .activities__container--1 .text-container {
    font-size: 2rem;
    background-color: #ffffff;
    border: 5px solid #9D3E5B;
    text-align: left;
    padding: 1.5rem 1.5rem 1.5rem 2rem;
    width: 20%;
    height: 26rem;
    position: absolute;
    top: 25vh;
    left: 44vw;
    z-index: 1;
    text-align: justify; }
    .activities__container--1 .text-container:hover {
      transition: all 0.4s ease-in-out;
      background-color: #9D3E5B;
      color: #ffffff;
      transform: scale(1.05);
      outline: solid 8px #9D3E5B;
      outline-offset: 10px; }
    .activities__container--1 .text-container-title {
      font-size: 3rem;
      font-weight: normal;
      text-align: left;
      letter-spacing: 1.5px;
      margin-bottom: 1.5rem;
      font-family: cursive; }
    .activities__container--1 .text-container-desc {
      line-height: 1.8;
      padding: 0 5px; }

.activities__container--2 .img-container {
  position: relative; }
  .activities__container--2 .img-container img {
    position: absolute;
    width: 30vw;
    height: 40vh;
    top: 55vh;
    right: 15vw;
    transition: all 0.3s ease-in-out; }
    .activities__container--2 .img-container img:hover {
      z-index: 10;
      outline: solid 8px #fbf0ac;
      outline-offset: 10px;
      transform: translateY(-4%); }

.activities__container--2 .text-container {
  font-size: 2rem;
  border: 5px solid #9D3E5B;
  background-color: #ffffff;
  text-align: left;
  padding: 1.5rem 2.5rem 1.5rem 2rem;
  width: 20%;
  height: 26rem;
  position: absolute;
  top: 76vh;
  right: 42vw;
  z-index: 1; }
  .activities__container--2 .text-container:hover {
    transition: all 0.4s ease-in-out;
    background-color: #9D3E5B;
    color: #ffffff;
    transform: scale(1.05);
    outline: solid 8px #9D3E5B;
    outline-offset: 10px; }
  .activities__container--2 .text-container-title {
    font-size: 3rem;
    font-weight: normal;
    text-align: left;
    letter-spacing: 1.5px;
    margin-bottom: 1.5rem;
    font-family: cursive; }
  .activities__container--2 .text-container-desc {
    line-height: 1.8;
    padding: 0 5px; }

.activities__container--3 .img-container {
  position: relative; }
  .activities__container--3 .img-container img {
    position: absolute;
    width: 30vw;
    height: 40vh;
    top: 105vh;
    left: 16vw;
    transition: all 0.3s ease-in-out; }
    .activities__container--3 .img-container img:hover {
      z-index: 10;
      outline: solid 8px #fbf0ac;
      outline-offset: 10px;
      transform: translateY(-4%); }

.activities__container--3 .text-container {
  font-size: 2rem;
  border: 5px solid #9D3E5B;
  background-color: #ffffff;
  text-align: left;
  padding: 1.5rem 0.5rem 1.5rem 2rem;
  width: 20%;
  height: 26rem;
  position: absolute;
  top: 125vh;
  left: 44vw;
  z-index: 1; }
  .activities__container--3 .text-container:hover {
    transition: all 0.4s ease-in-out;
    background-color: #9D3E5B;
    color: #ffffff;
    transform: scale(1.05);
    outline: solid 8px #9D3E5B;
    outline-offset: 10px; }
  .activities__container--3 .text-container-title {
    font-size: 3rem;
    font-weight: normal;
    text-align: left;
    letter-spacing: 1.5px;
    margin-bottom: 1.5rem;
    font-family: cursive; }
  .activities__container--3 .text-container-desc {
    line-height: 1.8;
    padding: 0 5px; }

.events__cards {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .events__cards--1 {
    width: 45rem;
    height: 55rem;
    background-image: url("../images/private-event.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
    .events__cards--1 .textcontainer {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #ffffff;
      backdrop-filter: blur(6rem);
      text-align: center;
      width: 70%; }
      .events__cards--1 .textcontainer:hover {
        color: #fbf0ac; }
      .events__cards--1 .textcontainer .card-title {
        text-transform: uppercase;
        font-size: 6rem;
        letter-spacing: 5px;
        width: 100%;
        margin-bottom: 1rem; }
        .events__cards--1 .textcontainer .card-title a {
          text-decoration: none;
          color: #ffffff;
          position: relative; }
          .events__cards--1 .textcontainer .card-title a:hover {
            color: #fbf0ac; }
          .events__cards--1 .textcontainer .card-title a::before {
            content: "";
            position: absolute;
            width: 90%;
            height: 2px;
            bottom: 0;
            left: 6%;
            background-color: #fbf0ac;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.4s ease-in-out 0s; }
          .events__cards--1 .textcontainer .card-title a:hover::before {
            visibility: visible;
            transform: scaleX(1); }
      .events__cards--1 .textcontainer .card-subtitle {
        font-size: 2.5rem; }
    .events__cards--1 .fancy-link .fancy-link--small {
      font-size: 2.8rem;
      position: absolute;
      bottom: 0;
      width: 100%;
      backdrop-filter: blur(5rem);
      text-align: center; }
      .events__cards--1 .fancy-link .fancy-link--small a {
        color: #ffffff;
        text-decoration: none; }
        .events__cards--1 .fancy-link .fancy-link--small a:hover {
          color: #fbf0ac; }
  .events__cards--2 {
    width: 45rem;
    height: 55rem;
    background-image: url("../images/corporate-events.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
    .events__cards--2 .textcontainer {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #ffffff;
      backdrop-filter: blur(6rem);
      text-align: center;
      width: 80%; }
      .events__cards--2 .textcontainer:hover {
        color: #fbf0ac; }
      .events__cards--2 .textcontainer .card-title {
        text-transform: uppercase;
        font-size: 5.8rem;
        letter-spacing: 2px;
        width: 90%;
        margin-bottom: 1rem; }
        .events__cards--2 .textcontainer .card-title a {
          text-decoration: none;
          color: #ffffff;
          position: relative; }
          .events__cards--2 .textcontainer .card-title a:hover {
            color: #fbf0ac; }
          .events__cards--2 .textcontainer .card-title a::before {
            content: "";
            position: absolute;
            width: 90%;
            height: 2px;
            bottom: 0;
            left: 6%;
            background-color: #fbf0ac;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.4s ease-in-out 0s; }
          .events__cards--2 .textcontainer .card-title a:hover::before {
            visibility: visible;
            transform: scaleX(1); }
      .events__cards--2 .textcontainer .card-subtitle {
        font-size: 2.5rem; }
    .events__cards--2 .fancy-link .fancy-link--small {
      font-size: 2.8rem;
      backdrop-filter: blur(3rem);
      background-color: black;
      text-align: center;
      position: absolute;
      bottom: 0;
      width: 100%; }
      .events__cards--2 .fancy-link .fancy-link--small a {
        color: #ffffff;
        text-decoration: none; }
        .events__cards--2 .fancy-link .fancy-link--small a:hover {
          color: #fbf0ac; }
  .events__cards--3 {
    width: 45rem;
    height: 55rem;
    background-image: url("../images/fundraiser.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
    .events__cards--3 .textcontainer {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #ffffff;
      backdrop-filter: blur(2rem);
      text-align: center;
      width: 80; }
      .events__cards--3 .textcontainer:hover {
        color: #fbf0ac; }
      .events__cards--3 .textcontainer .card-title {
        text-transform: uppercase;
        font-size: 5.8rem;
        letter-spacing: 2px;
        width: 90%;
        margin-bottom: 1rem; }
        .events__cards--3 .textcontainer .card-title a {
          text-decoration: none;
          color: #ffffff;
          position: relative; }
          .events__cards--3 .textcontainer .card-title a:hover {
            color: #fbf0ac; }
          .events__cards--3 .textcontainer .card-title a::before {
            content: "";
            position: absolute;
            width: 90%;
            height: 2px;
            bottom: 0;
            left: 6%;
            background-color: #fbf0ac;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.4s ease-in-out 0s; }
          .events__cards--3 .textcontainer .card-title a:hover::before {
            visibility: visible;
            transform: scaleX(1); }
      .events__cards--3 .textcontainer .card-subtitle {
        font-size: 2.5rem; }
    .events__cards--3 .fancy-link .fancy-link--small {
      font-size: 2.8rem;
      backdrop-filter: blur(2rem);
      text-align: center;
      position: absolute;
      bottom: 0;
      width: 100%; }
      .events__cards--3 .fancy-link .fancy-link--small a {
        color: #ffffff;
        text-decoration: none; }
        .events__cards--3 .fancy-link .fancy-link--small a:hover {
          color: #fbf0ac; }

.accomodation {
  position: relative;
  padding: 0 0 15rem; }
  .accomodation .slider {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 90vw;
    height: 75vh;
    outline: solid 5px #fbf0ac;
    outline-offset: 15px; }
    .accomodation .slider .slide {
      position: absolute;
      top: 0;
      left: 0vw;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.4s ease-in-out; }
      .accomodation .slider .slide:first-child {
        background-image: url("../images/accomodation-2.jpg");
        background-repeat: no-repeat;
        background-position: center bottom 10px;
        background-size: cover; }
      .accomodation .slider .slide:nth-child(2) {
        background-image: url("../images/accomodation-1.jpg");
        background-repeat: no-repeat;
        background-position: center; }
      .accomodation .slider .slide:nth-child(3) {
        background-image: url("../images/accomodation-3.jpg");
        background-repeat: no-repeat;
        background-position: center; }
      .accomodation .slider .slide:nth-child(4) {
        background-image: url("../images/accomodation-4.jpg");
        background-repeat: no-repeat;
        background-position: center; }
      .accomodation .slider .slide .content {
        font-size: 2.5rem;
        position: absolute;
        left: -60rem;
        bottom: 3rem;
        width: 60rem;
        background-color: rgba(255, 255, 255, 0.8);
        color: #333;
        padding: 3.5rem;
        opacity: 0;
        line-height: 1.2; }
        .accomodation .slider .slide .content h1 {
          color: #9D3E5B;
          font-size: 4rem;
          margin-bottom: 1rem; }
    .accomodation .slider .slide.current {
      opacity: 1; }
      .accomodation .slider .slide.current .content {
        opacity: 1;
        transform: translateX(60rem);
        transition: all 0.7s ease-in-out 0.3s; }
  .accomodation .buttons button {
    border: 2px solid #fbf0ac;
    background-color: transparent;
    color: #fbf0ac;
    border-radius: 50%;
    padding: 13px 15px;
    cursor: pointer;
    outline: none;
    position: absolute; }
    .accomodation .buttons button:hover {
      background-color: #fbf0ac;
      color: #333; }
    .accomodation .buttons button#next {
      top: 50%;
      right: 10rem; }
    .accomodation .buttons button#prev {
      top: 50%;
      left: 10rem; }

.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  position: relative; }

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 16px/16px "Roboto", Helvetica, Arial, sans-serif; }

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 2rem 0 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

#contact h3 {
  display: block;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 10px; }

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 2rem;
  font-weight: 400; }

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%; }

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px; }

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa; }

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none; }

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #9D3E5B;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px; }

#contact button[type="submit"]:hover {
  background: #87354e;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

.copyright {
  text-align: center; }

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa; }

::-webkit-input-placeholder {
  color: #888; }

:-moz-placeholder {
  color: #888; }

::-moz-placeholder {
  color: #888; }

:-ms-input-placeholder {
  color: #888; }

.dotted-hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #9D3E5B;
  border-width: 1.5rem;
  width: 14%;
  margin: 0 auto; }

.main {
  width: 100%;
  height: 66rem; }

.activities {
  padding: 6rem 0 0;
  position: relative;
  height: 120rem; }
  .activities-title {
    text-align: center;
    font-size: 4rem;
    color: #9D3E5B;
    letter-spacing: 4px;
    text-transform: uppercase; }

.events-section {
  padding: 5rem 0  10rem;
  position: relative; }
  .events-section .events-title {
    text-align: center;
    font-size: 4rem;
    color: #9D3E5B;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 0 0 5rem; }

.accomodation-title {
  text-align: center;
  font-size: 4rem;
  color: #9D3E5B;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 5rem 0; }

.about-title {
  text-align: center;
  font-size: 4rem;
  color: #9D3E5B;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 2.5rem 0 4rem; }

.about__row--1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5rem 0 5rem; }
  .about__row--1 .text-container {
    text-align: justify;
    width: 50%;
    font-size: 2rem;
    padding: 0 4rem; }
    .about__row--1 .text-container h4 {
      padding-bottom: 0.8rem;
      width: 35%;
      font-size: 3rem;
      text-transform: capitalize;
      word-spacing: 7px;
      border-bottom: solid 2px #9D3E5B; }
    .about__row--1 .text-container p {
      padding: 2rem 2rem 0 0;
      line-height: 2;
      color: rgba(51, 51, 51, 0.7);
      margin-bottom: 1.5rem; }
  .about__row--1 .image-container {
    width: 50%; }
    .about__row--1 .image-container img {
      position: relative;
      left: 5%;
      width: 90%;
      max-height: 40rem;
      outline: solid 8px #fbf0ac;
      outline-offset: 8px; }

.about__row--2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10rem 0 5rem; }
  .about__row--2 .text-container {
    text-align: justify;
    width: 50%;
    font-size: 2rem;
    padding: 0 4rem; }
    .about__row--2 .text-container h4 {
      padding-bottom: 0.8rem;
      width: 35%;
      font-size: 3rem;
      text-transform: capitalize;
      word-spacing: 7px;
      border-bottom: solid 2px #9D3E5B; }
    .about__row--2 .text-container p {
      padding: 2rem 2rem 0 0;
      line-height: 2;
      color: rgba(51, 51, 51, 0.7);
      margin-bottom: 1.5rem; }
  .about__row--2 .image-container {
    width: 50%; }
    .about__row--2 .image-container img {
      position: relative;
      left: 5%;
      width: 90%;
      max-height: 40rem;
      outline: solid 8px #fbf0ac;
      outline-offset: 8px; }

.about__row--3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10rem 0 8rem; }
  .about__row--3 .text-container {
    text-align: justify;
    width: 50%;
    font-size: 2rem;
    padding: 0 4rem; }
    .about__row--3 .text-container h4 {
      padding-bottom: 0.8rem;
      width: 35%;
      font-size: 3rem;
      text-transform: capitalize;
      word-spacing: 7px;
      border-bottom: solid 2px #9D3E5B; }
    .about__row--3 .text-container p {
      padding: 2rem 2rem 0 0;
      line-height: 2;
      color: rgba(51, 51, 51, 0.7);
      margin-bottom: 1.5rem; }
  .about__row--3 .image-container {
    width: 50%; }
    .about__row--3 .image-container img {
      position: relative;
      left: 5%;
      width: 90%;
      max-height: 40rem;
      outline: solid 8px #fbf0ac;
      outline-offset: 8px; }

.Contact-Us {
  padding: 2rem;
  background-image: url("../images/about-img-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.farm-stay {
  margin: 12rem 8rem 10rem;
  display: flex;
  justify-content: space-between; }
  .farm-stay .text-container {
    display: inline-block;
    max-width: 50rem;
    width: 60%; }
    .farm-stay .text-container h2 {
      font-size: 5rem;
      margin-bottom: 2.5rem;
      text-transform: uppercase;
      word-spacing: 8px;
      color: #9D3E5B;
      font-weight: normal; }
      .farm-stay .text-container h2 a {
        text-decoration: none;
        color: #9D3E5B;
        position: relative; }
        .farm-stay .text-container h2 a:hover {
          color: #9D3E5B; }
        .farm-stay .text-container h2 a::before {
          content: "";
          position: absolute;
          width: 90%;
          height: 2px;
          bottom: 0;
          left: 6%;
          background-color: #9D3E5B;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.2s ease-in-out 0s; }
        .farm-stay .text-container h2 a:hover::before {
          visibility: visible;
          transform: scaleX(1); }
    .farm-stay .text-container p {
      font-size: 2.2rem;
      text-align: justify;
      color: #737373;
      line-height: 1.3; }
    .farm-stay .text-container button {
      display: inline-block;
      border: none;
      padding: 1rem 3rem;
      margin: 0;
      text-decoration: none;
      background: #9D3E5B;
      font-family: sans-serif;
      font-size: 2.5rem;
      cursor: pointer;
      text-align: center;
      transition: background 250ms ease-in-out,  transform 150ms ease;
      -webkit-appearance: none;
      -moz-appearance: none;
      position: relative;
      top: 3rem; }
      .farm-stay .text-container button a {
        text-decoration: none;
        color: #ffffff; }
      .farm-stay .text-container button:hover {
        outline: 2px solid #fff;
        outline-offset: -6px;
        background-color: #80324a; }
  .farm-stay .image-container {
    display: inline-block;
    width: 60%;
    margin-top: 8rem; }
    .farm-stay .image-container img {
      width: 33%;
      height: 80%; }
    .farm-stay .image-container .img-1 {
      position: relative;
      left: 10%;
      transition: all 0.2s ease-in-out; }
      .farm-stay .image-container .img-1:hover {
        outline: solid 10px #fbf0ac;
        outline-offset: 8px;
        z-index: 10;
        scale: 1.2; }
    .farm-stay .image-container .img-2 {
      position: relative;
      bottom: 7rem;
      transition: all 0.2s ease-in-out;
      z-index: 1; }
      .farm-stay .image-container .img-2:hover {
        outline: solid 10px #fbf0ac;
        outline-offset: 8px;
        z-index: 10;
        scale: 1.2; }
    .farm-stay .image-container .img-3 {
      position: relative;
      right: 10%;
      transition: all 0.2s ease-in-out; }
      .farm-stay .image-container .img-3:hover {
        outline: solid 10px #fbf0ac;
        outline-offset: 8px;
        z-index: 10;
        scale: 1.2; }

.facilities {
  margin: 5rem 8rem 5rem; }
  .facilities h2 {
    font-size: 4.5rem;
    text-transform: capitalize;
    word-spacing: 4px;
    color: #9D3E5B;
    font-weight: normal;
    margin-bottom: 2rem;
    text-align: center; }
  .facilities .special-list {
    text-align: center; }
    .facilities .special-list .list-row {
      display: flex;
      align-items: center;
      width: 50%;
      height: 10rem;
      margin: 3.5rem auto;
      padding: 0.5rem 0;
      transition: all 0.3s ease-in-out; }
      .facilities .special-list .list-row img {
        border-radius: 50%;
        width: 9rem;
        position: relative;
        left: 30%;
        transform: translateX(-50%); }
      .facilities .special-list .list-row .list-item {
        display: inline-block;
        font-size: 3rem;
        color: #9D3E5B;
        font-family: cursive;
        position: relative;
        left: 40%;
        transform: translateX(-50%); }
      .facilities .special-list .list-row:hover {
        transform: translateY(-3px);
        scale: 1.05;
        background-color: #404040; }
        .facilities .special-list .list-row:hover .list-item {
          color: #ffffff; }

.club-house {
  margin: 12rem 8rem 10rem;
  display: flex;
  justify-content: space-between; }
  .club-house .text-container {
    display: inline-block;
    max-width: 50rem;
    width: 60%; }
    .club-house .text-container h2 {
      font-size: 5rem;
      margin-bottom: 2.5rem;
      text-transform: uppercase;
      word-spacing: 8px;
      color: #9D3E5B;
      font-weight: normal; }
      .club-house .text-container h2 a {
        text-decoration: none;
        color: #9D3E5B;
        position: relative; }
        .club-house .text-container h2 a:hover {
          color: #9D3E5B; }
        .club-house .text-container h2 a::before {
          content: "";
          position: absolute;
          width: 90%;
          height: 2px;
          bottom: 0;
          left: 6%;
          background-color: #9D3E5B;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.2s ease-in-out 0s; }
        .club-house .text-container h2 a:hover::before {
          visibility: visible;
          transform: scaleX(1); }
    .club-house .text-container p {
      font-size: 2.2rem;
      text-align: justify;
      color: #737373;
      line-height: 1.3; }
    .club-house .text-container button {
      display: inline-block;
      border: none;
      padding: 1rem 3rem;
      margin: 0;
      text-decoration: none;
      background: #9D3E5B;
      font-family: sans-serif;
      font-size: 2.5rem;
      cursor: pointer;
      text-align: center;
      transition: background 250ms ease-in-out,  transform 150ms ease;
      -webkit-appearance: none;
      -moz-appearance: none;
      position: relative;
      top: 3rem; }
      .club-house .text-container button a {
        text-decoration: none;
        color: #ffffff; }
      .club-house .text-container button:hover {
        outline: 2px solid #fff;
        outline-offset: -6px;
        background-color: #80324a; }
  .club-house .image-container {
    display: inline-block;
    width: 60%;
    margin-top: 8rem; }
    .club-house .image-container img {
      width: 33%;
      height: 80%; }
    .club-house .image-container .img-1 {
      position: relative;
      left: 20%;
      bottom: 7rem;
      transition: all 0.2s ease-in-out; }
      .club-house .image-container .img-1:hover {
        outline: solid 10px #fbf0ac;
        outline-offset: 8px;
        z-index: 10;
        scale: 1.2; }
    .club-house .image-container .img-2 {
      position: relative;
      top: 28%;
      transition: all 0.2s ease-in-out;
      z-index: 10; }
      .club-house .image-container .img-2:hover {
        outline: solid 10px #fbf0ac;
        outline-offset: 8px;
        z-index: 10;
        scale: 1.2; }
    .club-house .image-container .img-3 {
      position: relative;
      right: 16%;
      bottom: 11%;
      transition: all 0.2s ease-in-out;
      z-index: 3; }
      .club-house .image-container .img-3:hover {
        outline: solid 10px #fbf0ac;
        outline-offset: 8px;
        z-index: 10;
        scale: 1.2; }

.facilities {
  margin: 5rem 8rem 5rem; }
  .facilities h2 {
    font-size: 4.5rem;
    text-transform: capitalize;
    word-spacing: 4px;
    color: #9D3E5B;
    font-weight: normal;
    margin-bottom: 2rem;
    text-align: center; }
  .facilities .special-list {
    text-align: center; }
    .facilities .special-list .list-row {
      display: flex;
      align-items: center;
      width: 50%;
      height: 10rem;
      margin: 3.5rem auto;
      padding: 0.5rem 0;
      transition: all 0.3s ease-in-out; }
      .facilities .special-list .list-row img {
        border-radius: 50%;
        width: 9rem;
        position: relative;
        left: 30%;
        transform: translateX(-50%); }
      .facilities .special-list .list-row .list-item {
        display: inline-block;
        font-size: 3rem;
        color: #9D3E5B;
        font-family: cursive;
        position: relative;
        left: 40%;
        transform: translateX(-50%); }
      .facilities .special-list .list-row:hover {
        transform: translateY(-3px);
        scale: 1.05;
        background-color: #404040; }
        .facilities .special-list .list-row:hover .list-item {
          color: #ffffff; }

.events {
  margin: 10rem 0; }
  .events .image-container {
    margin: 0 auto 14rem;
    width: 60%;
    height: 37.5rem;
    background-image: url("../images/events-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    outline: solid 10px #fbf0ac;
    outline-offset: 8px; }
    .events .image-container .text-box {
      color: #ffffff;
      position: relative;
      top: 25%;
      left: 10%;
      width: 80%;
      translate: transform(-50%, -50%);
      backdrop-filter: blur(10px);
      text-align: center; }
      .events .image-container .text-box h2 {
        font-size: 6rem;
        text-transform: uppercase;
        font-weight: lighter;
        margin-bottom: 0.4rem; }
      .events .image-container .text-box p {
        font-size: 4rem;
        font-family: sans-serif;
        text-transform: capitalize;
        margin-bottom: 3.5rem; }
      .events .image-container .text-box button {
        display: inline-block;
        border: none;
        padding: 1rem 3rem;
        margin: 0;
        text-decoration: none;
        background: #9D3E5B;
        font-family: sans-serif;
        font-size: 2.5rem;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out,  transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
        color: #ffffff; }
        .events .image-container .text-box button a {
          text-decoration: none;
          color: #ffffff; }
        .events .image-container .text-box button:hover {
          outline: 2px solid #fff;
          outline-offset: -6px;
          background-color: #80324a; }
  .events .private-events {
    margin: 14rem 8rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .events .private-events .desc {
      width: 60%; }
      .events .private-events .desc h3 {
        font-size: 4.5rem;
        color: #9D3E5B;
        margin-bottom: 2rem; }
        .events .private-events .desc h3 a {
          text-decoration: none;
          color: #9D3E5B;
          position: relative; }
          .events .private-events .desc h3 a:hover {
            color: #9D3E5B; }
          .events .private-events .desc h3 a::before {
            content: "";
            position: absolute;
            width: 90%;
            height: 2px;
            bottom: 0;
            left: 6%;
            background-color: #9D3E5B;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.2s ease-in-out 0s; }
          .events .private-events .desc h3 a:hover::before {
            visibility: visible;
            transform: scaleX(1); }
      .events .private-events .desc p {
        font-size: 2rem;
        color: #595959;
        width: 85%;
        text-align: justify;
        margin-bottom: 2rem;
        line-height: 1.4; }
      .events .private-events .desc ul {
        font-size: 2rem;
        color: #595959;
        list-style: none;
        margin-bottom: 3rem; }
      .events .private-events .desc li {
        margin: 0.5rem 0; }
      .events .private-events .desc ul li::before {
        content: "\2022";
        color: #9D3E5B;
        /* Change the color */
        display: inline-block;
        /* Needed to add space between the bullet and the text */
        width: 2rem;
        /* Also needed for space (tweak if needed) */
        margin-left: 0.2rem;
        /* Also needed for space (tweak if needed) */ }
      .events .private-events .desc button {
        display: inline-block;
        border: none;
        padding: 1rem 3rem;
        margin: 0;
        text-decoration: none;
        background: #9D3E5B;
        font-family: sans-serif;
        font-size: 2.5rem;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out,  transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none; }
        .events .private-events .desc button a {
          text-decoration: none;
          color: #ffffff; }
        .events .private-events .desc button:hover {
          outline: 2px solid #fff;
          outline-offset: -6px;
          background-color: #80324a; }
    .events .private-events .image img {
      box-shadow: -5px -5px 30px 5px #fbf0ac, 5px 5px 30px 5px #9D3E5B;
      transition: all 0.2s ease-in-out; }
      .events .private-events .image img:hover {
        transform: translateY(-10px); }
  .events .corporate-events {
    margin: 14rem 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .events .corporate-events .desc {
      width: 60%; }
      .events .corporate-events .desc h3 {
        font-size: 4.5rem;
        color: #9D3E5B;
        margin-bottom: 2rem; }
        .events .corporate-events .desc h3 a {
          text-decoration: none;
          color: #9D3E5B;
          position: relative; }
          .events .corporate-events .desc h3 a:hover {
            color: #9D3E5B; }
          .events .corporate-events .desc h3 a::before {
            content: "";
            position: absolute;
            width: 90%;
            height: 2px;
            bottom: 0;
            left: 6%;
            background-color: #9D3E5B;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.2s ease-in-out 0s; }
          .events .corporate-events .desc h3 a:hover::before {
            visibility: visible;
            transform: scaleX(1); }
      .events .corporate-events .desc p {
        font-size: 2rem;
        color: #595959;
        width: 85%;
        text-align: justify;
        margin-bottom: 2rem;
        line-height: 1.4; }
      .events .corporate-events .desc ul {
        font-size: 2rem;
        color: #595959;
        list-style: none;
        margin-bottom: 3rem; }
      .events .corporate-events .desc li {
        margin: 0.5rem 0; }
      .events .corporate-events .desc ul li::before {
        content: "\2022";
        color: #9D3E5B;
        /* Change the color */
        display: inline-block;
        /* Needed to add space between the bullet and the text */
        width: 2rem;
        /* Also needed for space (tweak if needed) */
        margin-left: 0.2rem;
        /* Also needed for space (tweak if needed) */ }
      .events .corporate-events .desc button {
        display: inline-block;
        border: none;
        padding: 1rem 3rem;
        margin: 0;
        text-decoration: none;
        background: #9D3E5B;
        font-family: sans-serif;
        font-size: 2.5rem;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out,  transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none; }
        .events .corporate-events .desc button a {
          text-decoration: none;
          color: #ffffff; }
        .events .corporate-events .desc button:hover {
          outline: 2px solid #fff;
          outline-offset: -6px;
          background-color: #80324a; }
    .events .corporate-events .image img {
      box-shadow: -5px -5px 30px 5px #fbf0ac, 5px 5px 30px 5px #9D3E5B;
      transition: all 0.2s ease-in-out; }
      .events .corporate-events .image img:hover {
        transform: translateY(-10px); }
  .events .fundraising-events {
    margin: 14rem 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .events .fundraising-events .desc {
      width: 60%; }
      .events .fundraising-events .desc h3 {
        font-size: 4.5rem;
        color: #9D3E5B;
        margin-bottom: 2rem; }
        .events .fundraising-events .desc h3 a {
          text-decoration: none;
          color: #9D3E5B;
          position: relative; }
          .events .fundraising-events .desc h3 a:hover {
            color: #9D3E5B; }
          .events .fundraising-events .desc h3 a::before {
            content: "";
            position: absolute;
            width: 90%;
            height: 2px;
            bottom: 0;
            left: 6%;
            background-color: #9D3E5B;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.2s ease-in-out 0s; }
          .events .fundraising-events .desc h3 a:hover::before {
            visibility: visible;
            transform: scaleX(1); }
      .events .fundraising-events .desc p {
        font-size: 2rem;
        color: #595959;
        width: 85%;
        text-align: justify;
        margin-bottom: 2rem;
        line-height: 1.4; }
      .events .fundraising-events .desc ul {
        font-size: 2rem;
        color: #595959;
        list-style: none;
        margin-bottom: 3rem; }
      .events .fundraising-events .desc li {
        margin: 0.5rem 0; }
      .events .fundraising-events .desc ul li::before {
        content: "\2022";
        color: #9D3E5B;
        /* Change the color */
        display: inline-block;
        /* Needed to add space between the bullet and the text */
        width: 2rem;
        /* Also needed for space (tweak if needed) */
        margin-left: 0.2rem;
        /* Also needed for space (tweak if needed) */ }
      .events .fundraising-events .desc button {
        display: inline-block;
        border: none;
        padding: 1rem 3rem;
        margin: 0;
        text-decoration: none;
        background: #9D3E5B;
        font-family: sans-serif;
        font-size: 2.5rem;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out,  transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none; }
        .events .fundraising-events .desc button a {
          text-decoration: none;
          color: #ffffff; }
        .events .fundraising-events .desc button:hover {
          outline: 2px solid #fff;
          outline-offset: -6px;
          background-color: #80324a; }
    .events .fundraising-events .image img {
      box-shadow: -5px -5px 30px 5px #fbf0ac, 5px 5px 30px 5px #9D3E5B;
      transition: all 0.2s ease-in-out; }
      .events .fundraising-events .image img:hover {
        transform: translateY(-10px); }
