.footer{
    padding: 5rem 0;
    background-image: linear-gradient(to right,rgba(#fff,0.8),rgba($primary-color,0.5));
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 2.5rem;
    color:$white-color;

    .navbar-items{
        .navbar-item{
            line-height: 1.5;
            list-style: none;
            a{
               color: $primary-color;
               text-decoration: none;

               &:hover{
                   transition: color 0.2s ease;
                   color: darken($primary-color,30%);
               }
            }
        }    
    }

    .contact{
        h3{
            font-size: 3rem;
            letter-spacing: 2px;
            font-weight: normal;
            padding-bottom: 2rem;
            color: $secondary-color;
        }

        p{
            letter-spacing: 4.5px;
            font-size: 2.5rem;

        }
    }

    .social{
        h3{
            font-size: 3rem;
            font-weight: normal;
            letter-spacing: 2px;
            padding-bottom: 2rem;
            color: $secondary-color;
        }

        a{
            color:$white-color;
            padding: 0 15px;

            &:hover{
                color:$secondary-color;
            }
        }

        a:first-child{
            padding: 0;
        }
    }
}