@mixin text-underline-animation($color,$dur) {
    a{
        text-decoration: none;
        color: $color;
        position:relative;
    
        &:hover{
            color:$color;
        }
    
        &::before{
            content: "";
            position: absolute; 
            width: 90%;
            height: 2px;
            bottom: 0;
            left: 6%;
            background-color: $color;
            visibility: hidden;
            transform: scaleX(0);
            transition: all $dur ease-in-out 0s;
        }
    
        &:hover::before{
            visibility: visible;
            transform: scaleX(1);
        }
    }
}

@mixin text-underline-animation2($color,$dur) {
    a{
        text-decoration: none;
        color: $primary-color;
        position:relative;
    
        &:hover{
            color:$color;
        }
    
        &::before{
            content: "";
            position: absolute; 
            width: 90%;
            height: 2px;
            bottom: 0;
            left: 6%;
            background-color: $color;
            visibility: hidden;
            transform: scaleX(0);
            transition: all $dur ease-in-out 0s;
        }
    
        &:hover::before{
            visibility: visible;
            transform: scaleX(1);
        }
    }
}

@mixin sectionHeading{
    text-align: center;
    font-size: 4.5rem;
    color: $primary-color;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}



