 // Activities Section
 .activities{
    padding: 10rem 0 0;
    position: relative;
    height: 130rem;
    
    &-title{
        @include sectionHeading;
        padding-bottom: 4rem;
    }
        
}