    // Events Section 
    .events{
        padding: 5rem 0  10rem;
        position: relative;
        &-title{
            @include sectionHeading;
            padding: 0 0 5rem;
        }
        
    }