    // Events Section 
    .events-section{
        padding: 5rem 0  10rem;
        position: relative;
        .events-title{
            @include sectionHeading;
            padding: 0 0 5rem;
        }
        
    }