.activities {
    &__container--1{
        width:100%;
    .img-container{
        position: relative;
        img{
            position: absolute;
            width: 30vw;
            height:40vh;
            top: 5vh; 
            left: 16vw;
            transition: all 0.3s ease-in-out;

            &:hover{
                z-index: 10;
                outline: solid 8px $secondary-color;
                outline-offset: 10px;
                transform: translateY(-4%);
            }
        }
        
    }

    .text-container{
        font-size: 2rem;
        background-color: $white-color;
        border: 5px solid $primary-color;
        text-align: left;
        padding: 1.5rem 1.5rem 1.5rem 2rem;
        width: 20%;
        height: 26rem;
        position: absolute;
        top: 25vh ;
        left: 44vw;
        z-index: 1;
        text-align: justify;

        &:hover{
            transition:all 0.4s ease-in-out;
            background-color: $primary-color;
            color: $white-color;
            transform: scale(1.05);
            outline: solid 8px $primary-color;
            outline-offset: 10px;;
        }

        &-title{
            font-size:3rem;
            font-weight: normal;
            text-align: left;
            letter-spacing: 1.5px;
            margin-bottom:1.5rem ;
            font-family: cursive;
        }
        

        &-desc{
            line-height: 1.8;
            padding: 0 5px;
        }
    }
}

&__container--2{
    .img-container{
        position: relative;
        img{
            position: absolute;
            width: 30vw;
            height:40vh;
            top: 55vh; 
            right: 15vw;
            transition: all 0.3s ease-in-out;

            &:hover{
                z-index: 10;
                outline: solid 8px $secondary-color;
                outline-offset: 10px;
                transform: translateY(-4%);
            }
        }
    }

    .text-container{
        font-size: 2rem;
        border: 5px solid $primary-color;
        background-color: $white-color;
        text-align: left;
        padding: 1.5rem 2.5rem 1.5rem 2rem;
        width: 20%;
        height: 26rem;
        position: absolute;
        top: 76vh ;
        right: 42vw;
        z-index: 1;
        

        &:hover{
            transition:all 0.4s ease-in-out;
            background-color: $primary-color;
            color: $white-color; 
            transform: scale(1.05);
            outline: solid 8px $primary-color;
            outline-offset: 10px;;
        }

        &-title{
            font-size:3rem;
            font-weight: normal;
            text-align: left;
            letter-spacing: 1.5px;
            margin-bottom:1.5rem ;
            font-family: cursive;
        }

        &-desc{
            line-height: 1.8;
            padding: 0 5px;
        }
    }
}

&__container--3{
    .img-container{
        position: relative;

        img{
            position: absolute;
            width: 30vw;
            height:40vh;
            top: 105vh; 
            left: 16vw;
            transition: all 0.3s ease-in-out;

            &:hover{
                z-index: 10;
                outline: solid 8px $secondary-color;
                outline-offset: 10px;
                transform: translateY(-4%);
            }
        }
    }
    .text-container{
        font-size: 2rem;
        border: 5px solid $primary-color;
        background-color: $white-color;
        text-align: left;
        padding: 1.5rem 0.5rem 1.5rem 2rem;
        width: 20%;
        height: 26rem;
        position: absolute;
        top: 125vh ;
        left: 44vw;
        z-index: 1;

        &:hover{
            transition:all 0.4s ease-in-out;
            background-color: $primary-color;
            color: $white-color; 
            transform: scale(1.05);
            outline: solid 8px $primary-color;
            outline-offset: 10px;;
         }

        &-title{
            font-size:3rem;
            font-weight: normal;
            text-align: left;
            letter-spacing: 1.5px;
            margin-bottom:1.5rem ;
            font-family: cursive;
        }

        &-desc{
            line-height: 1.8;
            padding: 0 5px;
        }
 
    }
}

}