.main .cards{
    width: 100%;
    position: relative;
    display: grid;  
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100vh;

    &__imgcontainer--1{
        padding: 0.5rem;
        margin: 4rem;
        width: 34vw;
        position: absolute;
        left: 14.5vw;
        top: 7vh;
        height: 50rem;
        background-color: $primary-color;
        // background-image: linear-gradient(326deg, rgba(#134e5e

        // , 0.5) 0%, rgba(#71b280
        // , 0.7) 74%),url('../images/clubhouse.jpg');
        // background-image: linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 0.9) 100%),url('../images/clubhouse.jpg');
        background-image: linear-gradient(rgba(0,0,0, 0) 0%,rgba(255,255,255, 0.9) 100%),url('../images/clubhouse.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 0.3s ease-in-out;

        &:hover{
            transform: translateY(-1%);
        }

        
        .cards__textcontainer--1{
            font-family:'Open Sans', sans-serif;
            font-size: 4rem;
            color: $primary-color;
            text-align: center;
            position: absolute;
            width: 100%;
            top: 60%;
            left: 50%;
            transform: translate(-50%);  
            line-height: 150%;  
            .card-title{
                font-size: 5rem;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                word-spacing: 6px;
                font-family: 'Open Sans', sans-serif;
                @include text-underline-animation3($secondary-color,0.5s);
            } 

            &:hover{
                transition: all 0.5s ease-in ;
                color: $secondary-color;
            }
        }    
    }

    
    &__imgcontainer--2{
        padding: 0.5rem;
        margin: 4rem;
        width: 34vw;
        height: 50rem;
        position: absolute;
        left: 49vw;
        top: 2vh;
        background-color: $primary-color;
        // background-image: linear-gradient(326deg, rgba(#24c6dc
        // , 0.5) 0%, rgba(#514a9d
        // , 0.7) 74%),url('../images/farmstay.jpg');

        // background-image: linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 0.8) 100%),url('../images/farmstay.jpg');
        background-image: linear-gradient(rgba(0,0,0, 0) 0%,rgba(255,255,255, 0.9) 100%),url('../images/farmstay.jpg');
        
        background-repeat: no-repeat;
        background-size: cover;
        &:hover{
            transform: translateY(-1%);
        }

        .cards__textcontainer--2{
            font-family:'Open Sans', sans-serif;
            font-size: 4rem;
            position: absolute;
            color: $primary-color;
            text-align: center;
            width: 100%;
            top: 60%;
            left: 52%;
            transform: translate(-50%);
            line-height:150%;
            .card-title{
                font-size: 5rem;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                word-spacing: 6px;
                font-family: 'Open Sans', sans-serif;
                @include text-underline-animation3($secondary-color,0.5s);   
            }

            &:hover{
                transition: all 0.5s ease-in ;
                color: $secondary-color;
            }
        } 
    }
}