.accomodation{
    position: relative;
    padding: 0 0 8rem;
    .slider{
        position:relative;
        top: 5rem;
        overflow: hidden;
        margin: 0 auto;
        width: 90vw;
        height: 75vh;
        outline: solid 5px $secondary-color;
        outline-offset: 15px;

        .slide{
            position: absolute;
            top: 0;
            left: 0vw;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.4s ease-in-out;

            &:first-child{
                background-image: url('../images/accomodation-2.jpg');
                background-repeat: no-repeat;
                background-position: center bottom 10px;
                background-size: cover;
            }

            &:nth-child(2){
                background-image: url('../images/accomodation-1.jpg');
                background-repeat: no-repeat;
                background-position: center;
            }

            &:nth-child(3){
                background-image: url('../images/accomodation-3.jpg');
                background-repeat: no-repeat;
                background-position: center;
            }

            &:nth-child(4){
                background-image: url('../images/accomodation-4.jpg');
                background-repeat: no-repeat;
                background-position: center;
            }

            & .content{
                font-size: 2.5rem;
                position: absolute;
                left: -60rem;
                bottom: 3rem;
                width: 60rem;
                background-color: rgba(255,255,255,0.8);
                color: #333;
                padding: 3.5rem;
                opacity: 0;
                line-height: 1.2;
                font-family: Georgia, 'Times New Roman', Times, serif;
                & h1{
                    color: $primary-color;
                    font-size: 4rem;
                    margin-bottom: 1rem;
                    font-family: 'Open Sans',sans-serif;
                }
            }
        }

        .slide.current{
            opacity: 1;

            & .content{
                opacity: 1;
                transform: translateX(60rem);
                transition: all 0.7s ease-in-out 0.3s;
            }
        }

    }

    .buttons button{
        border: 2px solid $secondary-color;
        background-color: transparent;
        color: $secondary-color;
        border-radius: 50%;
        padding: 13px 15px;
        cursor: pointer;
        outline: none;
        position: absolute;
    
        &:hover{
            background-color: $secondary-color;
            color: #333;
        }
        &#next{
            top: 50%;
            right: 10rem;
        }
        &#prev{
            top: 50%;
            left: 10rem;
        }
    }

}

// @media(max-width:1000px){
//     .slide .content{
//         bottom: -30rem;
//         left: 0;
//         width: 100%;
//     }

//     .slide.current .content{
//         transform: translateY(-30rem);
//     }

// }
